body{
    margin:0;
    /*Source: https://www.vecteezy.com/photo/24357125-generative-ai-illustration-of-ancient-temple-ruins-in-a-jungle */
    background-image: url("../assets/snake-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#menu-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width:100%;
    background-color: lightgrey;
}

#home-button{
    padding-left: 20px;
}

#github-repo-button{
    padding-right: 30px;
}

#game-container{
    max-width: 500px; /* Maximum width for the game container */
    margin: 20px auto; /* Center the game container horizontally and add consistent margin */
    padding: 20px; /* Padding around the game container */
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
}

.oval {
    width: 100px;
    height: 50px;
    background-color: forestgreen; /* Blue background color, you can change it */
    border-radius: 50%; /* Creates an oval shape */
    position: relative;
    overflow: hidden; /* Ensures bars and text stay within the oval */
    display: flex;
    justify-content: center;
    align-items: center;

}

.bar {
    position: absolute;
    width: 70%;
    height: 8px; /* Height of the bars, adjust as needed */
    top: 50%; /* Positions bars vertically at the center */
    transform: translateY(-50%);
    border-radius: 10px;
}

.bar.top {
    margin-top: 5px;
    top: 20%; /* Adjust top bar's position */
    background-color: darkred;
}

.bar.bottom {
    top: 70%; /* Adjust bottom bar's position */
    background-color: blue;

}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; /* Text color, you can change it */
    font-size: 12px; /* Adjust font size as needed */
    font-weight: bold; /* Optionally make text bold */
    text-align: center;
}