.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 3x3 grid */
    gap: 10px; /* Space between cells */
    margin: 20px auto; /* Centering the grid */
    max-width: 300px; /* Restricting the maximum width of the grid */
}

.cell {
    background-color: #fff;
    border: 2px solid #333;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    aspect-ratio: 1 / 1; /* Ensures that cells are square */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Set a fixed height for better visual */
    color: #444; /* Default text color */
}

.cell.red { color: red; }
.cell.blue { color: blue; }

.cell:hover {
    background-color: #eaeaea; /* Hover effect for cells */
}

#resultDisplay{
    font-size: 24px;
    margin: 20px;
}


body{
    margin:0;
    text-align: center;
    /*Source: https://deepai.org/machine-learning-model/text2img*/
    background-image: url("../assets/tictactoe-background.png");
    height:100vh;
}

#menu-bar{
    display:flex;
    align-items: center;
    justify-content: space-between; /* Distribute items evenly with space between them */
    padding: 10px 0;
    width:100%;
    background-color: lightgray;
    margin-bottom: 20px;
}

#home-button{
    padding-left: 20px;
}

#github-repo-button{
    padding-right: 30px;
}

.oval {
    width: 100px;
    height: 50px;
    background-color: forestgreen; /* Blue background color, you can change it */
    border-radius: 50%; /* Creates an oval shape */
    position: relative;
    overflow: hidden; /* Ensures bars and text stay within the oval */
    display: flex;
    justify-content: center;
    align-items: center;

}

.bar {
    position: absolute;
    width: 70%;
    height: 8px; /* Height of the bars, adjust as needed */
    top: 50%; /* Positions bars vertically at the center */
    transform: translateY(-50%);
    border-radius: 10px;
}

.bar.top {
    margin-top: 5px;
    top: 20%; /* Adjust top bar's position */
    background-color: darkred;
}

.bar.bottom {
    top: 70%; /* Adjust bottom bar's position */
    background-color: blue;

}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; /* Text color, you can change it */
    font-size: 12px; /* Adjust font size as needed */
    font-weight: bold; /* Optionally make text bold */
    text-align: center;
}


h2{
    margin:0;
}

a{
    text-decoration: none;
    color: inherit;
}


#game-container{
    max-width: 500px; /* Maximum width for the game container */
    margin: 20px auto; /* Center the game container horizontally and add consistent margin */
    padding: 20px; /* Padding around the game container */
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
}

#github-repo-button{
    padding-right: 30px;
}


